#main{

    position: absolute;
    height:100vmin; 
    max-height:180px;  
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#play-buttons{
    padding-top:16px;
    margin:auto;
    max-width: 500px;
    width:80vmin;
}

.w3-button{
    border: 1px solid #ccc;
    box-shadow: 6px 12px 20px #ccc;
    width: 50%;
    height: 15vw;
    max-height:70px;
}

.w3-button:disabled{
    cursor: default;
    opacity: 1;
}

.w3-btn {
    width:49%;
    box-shadow: 2px 2px 2px #ccc;
    margin-left: 1px;
}

.w3-btn:active{
    box-shadow: inset 0px 0px 8px #ccc;
}
.w3-black, .w3-hover-black:hover{
    color:red!important;
}

#control-panel{
    max-width: 500px;
    width:80vmin;
    margin:auto;
    padding-top:16px;
}
#score{
    display:inline-block;
    width:50%;
   
}

#strict-check-div{
    box-shadow: 2px 2px 2px #ccc;
    width:50%;
    height:100%;
}

#stop-button{
    display:none;    
}

#win-alert{
    width:90%;
    margin:auto;
    display:none;
}
